@model NursaceMVC.Models.Client

<h2>Редактирование клиента:</h2>
<form asp-action="EditClient" asp-controller="Home" asp-route-id="@Model.Id">
    <p>
        <label asp-for="Name">Имя</label><br />
        <input type="text" asp-for="Name" />
    </p>
    <p>
        <label asp-for="Surname">Фамилия</label><br />
        <input type="text" asp-for="Surname" />
    </p>
    <p>
        <label asp-for="Country">Страна</label><br />
        <input type="text" asp-for="Country" />
    </p>
    <p>
        <label asp-for="City">Город</label><br />
        <input type="text" asp-for="City" />
    </p>
    <p>
        <label asp-for="Cargo">Транспортная компания</label><br />
        <input type="text" asp-for="Cargo" />
    </p>
    <p>
        <label asp-for="Tel">Телефон</label><br />
        <input type="text" asp-for="Tel" />
    </p>

    <p>
        <input type="submit" value="Сохранить" />
    </p>
</form>